*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

.field-validation-error {
    color: #f00;
    margin-bottom: 5px !important;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
    margin-bottom: 0 !important;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-errors> ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;    
}

.validation-summary-valid {
    display: none;
}

/*body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}*/

/**::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}*/

body {
	font-family: "RobotoRegular", arial, sans-serif;
	font-size: 16px;
	position: relative;
	line-height: 1.6;
	overflow-x: hidden;
	background-image: url(Assets/back_pattern.png);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
{
	font-family: "RobotoRegular", arial, sans-serif;
}

.main-header
{
	margin: 0;
	padding-top: 20px;
	text-align: center;
	font-family: "CalligraphMedium", arial, sans-serif;
	background-color: #68EDBC;
	font-size: 6.5em;

}

.main-sign-in, .main-sign-up, .main-settings
{
	margin: 100px auto;
	padding: 0 20px;

}
.main-settings {
    margin: 30px auto;
}

.form-sign-in, .form-sign-up
{
	font-family: "RobotoRegular";
	margin: auto;
	max-width: 600px;
}

.form-sign-in>.panel-info,
.form-sign-up>.panel-info
{
	border-color: rgb(104, 237, 188);
}

.form-sign-in>.panel-info .panel-heading,
.form-sign-up>.panel-info .panel-heading
{
	background-color: rgba(104, 237, 188, 0.5);
	border-bottom-width: 0;
}
.form-sign-in>.panel-info > .panel-heading
{
	color: #000;
}

.form-sign-in>.panel-info > .panel-heading > .panel-title,
.form-sign-up>.panel-info > .panel-heading > .panel-title
{
	font-family: "RobotoRegular", arial, sans-serif;
	font-size: 30px;
	color: #000;
}

.form-sign-in>.fg-cont
{
	margin: 100px;
	position: relative;

}

.form-sign-in>.fg-cont>a
{
	margin: 100px;
}



.form-sign-in label,
.form-sign-in input,
.form-sign-in button,
.form-sign-up label,
.form-sign-up input,
.form-sign-up button
{
	margin-bottom: 10px;
}

.form-sign-up .col-lg-3
{
	padding-left: 10px;
}

.recovery-email-align
{
	padding-left: 60px!important;
}

.navbar-brand > .img-rounded
{
	width: 100px;
}

.navbar-brand 
{
	padding: 5px;
}

.navbar-nav > li > a {
    line-height: 33px;
    color: #5c5c5c;
}

.navbar-nav > li > a:focus {
    outline: none;
}

.navbar-header a:focus {
    outline: none
}

.initial
{
	font-size: 40px;
	padding-top: 20px;
}

.navbar .navbar-form {
	position: relative;
	padding-top: 30px;
	margin-left: 15px;
	width: 240px;
}

.nav-bar-right-panel
{
	padding-top: 38px;
	padding-right: 15px;
}

.nav-bar-right-panel>li
{
	margin-right: 5px;
}

.navbar-search-users-tb,
.navbar-search-users
{
	margin-left: -15px;
}

.navbar-search-users-tb:focus
{
	border-color: #BABABA;
	box-shadow: none;
}

.btn
{
	padding: 6px 12px;

}

.btn:focus
{
	outline: none;
}

.main-container
{
	text-align: center;
	margin: 15px auto;
	width: 60%;
	max-width: 900px;
}

.find-container,
.wall
{
	width: 100%;
	background-color: rgba(255,255,255,0.4);
	padding: 10px 15px 10px 15px;
}

.find-container
{
	text-align: left;
}

.sticky {
	position:fixed;
	top:0;
}

.navbar
{
	width: 100%;

}

.navbar-padding {
	padding-top:140px;
}

.btn-add-picture
{

	height: 34px;
	padding: 2px 5px 2px 5px;
	border-radius: 0;
}

.btn-add-picture>.glyphicon
{
	font-size: 24px;
	margin: 0;
	padding: 0;
	line-height: 1.005;
}

.post
{
	text-align: left;
	margin-top: 25px;
	border: 1px solid #BABABA;
}

.author-info
{
	background-color: #e1e1e1;

}

.author-info > .img-circle
{
	margin: 5px;
	width: 40px;
}

.author-post
{
	display: inline-block;
	padding-top: 12px;
}

.btn-delete-post
{
	display: inline-block;
	float: right;
	position: relative;
	padding: 12px 15px 0px 0px;
}

.text-area
{
	padding-left: 10px;
	padding-right: 10px;
}

.photo-container
{
	text-align: center;
}

.photo-area
{
	width: 100%;
	margin-top:15px;
	text-align: center;
}

.photo-container>.photo-area::before
{
	content:''; 
	height: 100%;
	display: inline-block; 
}


.photo-area img
{
	width: auto;
	height: auto;
	max-width: 700px;
	max-height: 400px;
	overflow: hidden;
	display: inline-block;
}

.photo-area::before, 
.photo-area>img
{
	vertical-align: middle;
}

.date-like-info
{
	padding: 5px 0 5px 10px;
	background-color: #eaeaea;
	margin-top: 15px;
	border-top: 1px solid #BABABA;
}

.date-info
{
	display: inline-block;
}

.like-container
{
	display: inline-block;
	float: right;
}

.like-container > *
{
	display: inline-block;
}

.btn-like-wrapper
{
	position: relative;
}

.btn-like
{
	float: none;
	padding: 4px 15px 6px 6px;
	border: none;
	background-color: transparent;
}

.btn-like-wrapper>.btn-default
{
	background-color: none;
	box-shadow: none;
}

.btn-like-wrapper>.btn:hover
{
	color: #000;
}

/*.col-centered{
float: none;
margin: 0 auto;
}*/

.col-centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.user
{
	margin-bottom: 15px;
}

.user-initial > a:focus
{
	outline: none;
}

.user > *
{
	display: inline-block;
}

.user-avatar > img
{
	margin-right: 15px;
	width: 100px;
}


.find-container-mxw
{
	max-width: 600px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.current-user-avatar
{
	width: 100px;
}

.current-user
{
	text-align: left;
	margin-bottom: 20px;
	font-size: 50px;
}

.liked-user-avatar
{
	width: 50px;
}

.liked-user
{
	display: block;
	margin: 5px
}

.modal-body
{
	text-align: left;
}

.look-btn, .link-author{
    color: #333;
    outline: none;
}

.look-btn:hover, .link-author:hover
{
    color: black;
    cursor: pointer;
}
.look-btn:focus, .link-author:focus {
    outline: none;
}

.btn-crop-wrapper {
    display: block;
    text-align: center;
}

.crop-photo-container {
    margin: auto 20px;
    padding: 10px 30px;
    display: block;
    overflow-x: scroll;
}


.original-picture {
    display: block;
}

.not-found-users-label {
    display: block; 
    text-align: center;
}

.current-user a {
    text-decoration: none;
    outline: none;
}


