@using Scambio.Logic
@model Scambio.Web.ViewModels.UserPageViewModel
@{
    IEnumerable<UserInfo> foundUsers = ViewBag.Users;
    Layout = "~/Views/Shared/_SignedLayout.cshtml";
}

<div class="main-container find-container-mxw">
    <div class="find-container">
        @if (!foundUsers.Any())
        {
            
            <label class="not-found-users-label">Not found users</label>
        }
            
        @foreach (var user in foundUsers)
        {
            <div class="user">
                <div class="user-avatar">
                    @if (!string.IsNullOrEmpty(user.AvatarLocation))
                    {
                        <img src="@user.AvatarLocation" alt="ava" class="img-circle">
                    }
                    else
                    {
                        <img src="~/Content/Assets/no_avatar.png" alt="ava" class="img-circle">
                    }
                </div>
                <div class="user-initial">
                    <a href="@Url.RouteUrl("UserHome", new {username = user.Username})">@user.FirstName @user.LastName</a>
                </div>
            </div>
        }

    </div>
</div>