@using Scambio.Domain.Models
@model Scambio.Web.ViewModels.UserPageViewModel
@{
    IEnumerable<User> foundUsers = ViewBag.Users;
    Layout = "~/Views/Shared/_SignedLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FindUsers</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
