   
@{
    Layout = "~/Views/Shared/_SignedLayout.cshtml";
    //var options = new AjaxOptions()
    //{
    //    UpdateTargetId = "postdata",
    //    Url = Url.Action("PostsOnWall")

    //};
}


<div class="main-container">
    <div class="wall">
       
        <div class="add-post">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" name="bodyPost" id="tbBodyPost" class="form-control" placeholder="Enter text here...">
                    <span class="input-group-btn">
                            <span class="btn btn-default btn-add-picture btn-file">
                                <i class="glyphicon glyphicon-picture"></i>
                                <input type="file" accept="image/*" name="picturePost" id="PictureUpload">
                            </span>
                        </span>
                    <span class="input-group-btn ">
                            <input class="btn btn-default send-msg-btn" id="btnSend" type="submit" value="Send">
                        </span>
                </div>
            </div>
        </div>
        
        <div id="postdata">
            @Html.Action("PostsOnWall", new {username = "test1"})
        </div>




    </div>
    </div>


    @*@Scripts.Render("~/bundles/jquery")*@
@section scripts
{
    <script>
    $(document).ready(function () {
        $("#btnSend").click(function () {
            var formData = new FormData();
            formData.append("bodyPost", $("#tbBodyPost").val());
            var files = document.getElementById("PictureUpload").files;

            if (files.length != 0)
                formData.append("PictureUpload", files[0]);

            //for (var i = 0; i < totalFiles; i++)
            //{
            //    var file = document.getElementById("FileUpload").files[i];

            //    formData.append("FileUpload", file);
            //}
            //e.preventDefault();
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddPost")',
                data: formData,
                dataType: 'html',
                contentType: false,
                processData: false,
                success: function (data) {
                    //Fill div with results
                    if (data.val() != '') {
                        $("#postdata").html(data);
                    }
                    
                    $("#tbBodyPost").val('');
                    $("#PictureUpload").val('');
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
        });
    });
</script>
}


